log_format jobtalk '$remote_addr [$time_local] "$request_method $uri $server_protocol" $status $body_bytes_sent';

server {
    server_tokens off;
    client_header_timeout 10s;
    client_body_timeout 10s;
    client_max_body_size 128k;
    listen 80;
    server_name ${APP_DOMAIN};
    keepalive_timeout 20s;
    access_log /var/log/nginx/access.log jobtalk;
    if ($host != "${APP_DOMAIN}") { return 444; }

    location = /proxy-health {
        access_log off;
        default_type text/plain;
        return 200 "bootstrap\n";
    }

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
        default_type text/plain;
    }

    location / {
        return 503;
    }
}
