limit_req_zone $binary_remote_addr zone=api_limit:10m rate=5r/s;
server {
    listen 80;
    server_name roventics.com www.roventics.com;
    location ^~ /.well-known/acme-challenge/ { root /var/www/certbot; }
    location / { return 301 https://$host$request_uri; }
}
server {
    listen 443 ssl;
    server_name roventics.com www.roventics.com;
    ssl_certificate /etc/letsencrypt/live/roventics.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/roventics.com/privkey.pem;
    location ^~ /.well-known/acme-challenge/ { root /var/www/certbot; }
    location / {
        set $roventics_frontend roventics-frontend:80;
        proxy_pass http://$roventics_frontend$request_uri;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location /api/ {
        limit_req zone=api_limit burst=10 nodelay;
        set $roventics_backend roventics-backend:8080;
        proxy_pass http://$roventics_backend$request_uri;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
